body{
    background-image: url(http://madmelon.pl/grafika/bg/tlo-3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
textarea {
    overflow:auto
}
input[type="submit"],
input[type="GENERATE"]{
    border: 0;
    background-color: #6163ff;
    padding: 8px 15px;
    font-size: 15px;
    font-color: white;
    border-radius: 10px;
}
input[type="submit"]:hover,
input[type="GENERATE"]:hover {
    background-color: #ff3a31;
    color: #ffffff;
}
input[type="reset"] {
    float: right;
}