<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="form2.css">
</head>

<body>
<article class = "contact">


    <p align="center">
    <a href="https://kamilpheroku.herokuapp.com/">
        <img src="https://s3.amazonaws.com/word-art/59aac5f2f1239c5a860a9a09.png"
             alt="https://s3.amazonaws.com/word-art/59aac5f2f1239c5a860a9a09.png"
             class="transparent shrinkToFit" width="800" height="100"></a></p>
</p>
</h1>

<div align="center">

<form action="/" th:method="post">

    <textarea disabled th:text=${lorem} rows="30" cols="50">

    </textarea>
    <br>
    <br>
    <br>
    <input name="number" type="number" value="5" step="1">

    <select name="option">
        <option value="1">PARAGRAPHS</option>
        <option value="2">SENTENCES</option>
        <option value="3">WORDS</option>
    </select><br><br><br>
    <input type="submit" value="GENERATE">
    <input type="submit" value="RESET" onClick="history.back()">


</form>
</div>

    </article>
</body>

</html>