<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<br />
<br />
<br />
<br />
<br />
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GENERATOR TEKSTU</title>
</head>
<body>
<h1>
    <div align="center">
    <a href="https://kamilpheroku.herokuapp.com/">
        <img id="h1" style="border: none;" src="gfx/lorem_ipsum.png" alt="GENERATOR TEKSTU"></a>
    </div>
</h1>
<div align="center">

<form action="/generate" th:method="post">
    <textarea  th:text="${text}"  rows="10" cols="30">

    </textarea>
    <br>
    <input type="number" value="5" step="1">

    <select name="option">
        <option value="1">PARAGRAPHS</option>
        <option value="2">SENTENCES</option>
        <option value="3">WORDS</option>
    </select>
    <input type="submit" value="GENERATE">



</form>
</div>
</body>
</html>
</body>
</html>